<!DOCTYPE html>
<html>
  <head>
    <title><%=typeof title == 'undefined' ? 'New Sails App' : title%></title>

    <!-- Viewport mobile tag for sensible mobile support -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">




    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="/styles/login/normalize.css">
    <link rel="stylesheet" href="/styles/login/style.css">

    <!--STYLES END-->
  </head>

  <body>


    <%- body %>



    <!--SCRIPTS-->
    <script src="/js/dependencies/sails.io.js"></script>
    <script src="/js/dependencies/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/login/index.js"></script>
    <script src="/js/plugins/flot/excanvas.min.js"></script>
    <script src="/js/plugins/flot/flot-data.js"></script>
    <script src="/js/plugins/flot/jquery.flot.js"></script>
    <script src="/js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/js/plugins/morris/morris-data.js"></script>
    <script src="/js/plugins/morris/morris.js"></script>
    <script src="/js/plugins/morris/morris.min.js"></script>
    <script src="/js/plugins/morris/raphael.min.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>
