<h1>Welcome to Ride The Crowd API</h1>

<form action="users/new" method="POST" role="form" class="form-signin">

                           <div class="form-group input-group">
                               <span class="input-group-addon">@</span>
                               <input type="text" class="form-control" placeholder="Username">
                           </div>

                           <div class="form-group input-group">
                               <input type="text" class="form-control">
                               <span class="input-group-addon">.00</span>
                           </div>

                           <div class="form-group input-group">
                               <span class="input-group-addon"><i class="fa fa-eur"></i></span>
                               <input type="text" class="form-control" placeholder="Font Awesome Icon">
                           </div>

                           <div class="form-group input-group">
                               <span class="input-group-addon">$</span>
                               <input type="text" class="form-control">
                               <span class="input-group-addon">.00</span>
                           </div>

                           <div class="form-group input-group">
                               <input type="text" class="form-control">
                               <span class="input-group-btn"><button class="btn btn-default" type="button"><i class="fa fa-search"></i></button></span>
                           </div>
                            <button type="submit" class="btn btn-primary">Register</button>
                       </form>
