<ion-view>
  <ion-nav-title>Ride Chat</ion-nav-title>
  <ion-content padding="true">
    <ion-refresher class="spinner-balanced" on-refresh="reload()"></ion-refresher>
    <div class="text-center">
      <ion-spinner class="spinner-balanced" ng-show="loading"></ion-spinner>
    </div>
    <div ng-show="!loading">
      <div class="text-center">
          <h3>{{ride.name}}</h3>
      </div>


      <ion-list>
        <ion-item class="item-divider item-icon-right"><b>Chat</b> <i class="icon ion-chatboxes"></i></ion-item>
        <ion-item ng-repeat="chat in chatEntries" class="item-royal item-avatar item-icon-right">
          <img ngSrc="chat.user.photo"/>
          {{chat.text}}
        </ion-item>

      </ion-list>
    </div>
    <div class="list">
    <form ng-submit="addChatEntry()">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="newEntry.text" placeholder="Type something...">
        </label>
        <button type="submit" class="button button-small">
          Send
        </button>
      </div>
    </form>

  </div>
  </ion-content>
  <ion-footer-bar class="bar-stable">
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="map()">
        <i class="icon ion-map"></i> Maps
      </div>
    </div>
    <h1 class="title"></h1>
    <div class="buttons">
      <div class="button button-clear" ng-disabled="loading" ng-click="report()">
        Report
        <i class="icon ion-android-alert"></i>
      </div>
    </div>
  </ion-footer-bar>
</ion-view>
